# PANDAS

In [1]:
!pip3 install pandas

DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Requirement already satisfied: pandas in /usr/local/lib/python3.7/site-packages (1.3.4)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/site-packages (from pandas) (1.21.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621

In [5]:
import numpy as np
import pandas as pd
from pandas import Series

Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.). 
The axis labels are collectively called index.

In [7]:
#create a simple series
s1 = Series([5, 10, 15, 20])
print(s1)
print(s1.values)
print(s1.index.values)

0     5
1    10
2    15
3    20
dtype: int64
[ 5 10 15 20]
[0 1 2 3]

# create series from array

In [ ]:
A = np.array([100, 200, 300, 400])
print(A)
S1 = Series(A)
print(S1)

# create series with custom indexes

In [10]:
revenue = Series(A, index=['uber', 'ola', 'lyft', 'gojek'])
print(revenue)
revenue['ola']

uber     100
ola      200
lyft     300
gojek    400
dtype: int64

200

# filter a series based on condition

In [12]:
print(revenue[revenue>250])
#check the element
print('ola'in revenue)

lyft     300
gojek    400
dtype: int64
True

# to_dict()

In [13]:
revenue_dict = revenue.to_dict()
print(revenue_dict)

{'uber': 100, 'ola': 200, 'lyft': 300, 'gojek': 400}

# addition of two series

In [16]:
print(revenue)
print(revenue + revenue)

uber     100
ola      200
lyft     300
gojek    400
dtype: int64
uber     200
ola      400
lyft     600
gojek    800
dtype: int64

In [17]:
#Assign names to a series and its index
revenue.name = "company-renvenue"
revenue.index.name = "company name"
print(revenue)

company name
uber     100
ola      200
lyft     300
gojek    400
Name: company-renvenue, dtype: int64

# REINDEXING SERIES

In [4]:
import numpy as np
import pandas as pd
from pandas import Series
s1 = Series([1, 2, 3, 4, 5], index=["a", "b", "c", "d", "e"])
s1

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [6]:
s1 = s1.reindex(["a", "b", "c", "d", "e", "g", "h"])
print(s1)

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
g    NaN
h    NaN
dtype: float64

In [7]:
s1 = s1.reindex(["a", "b", "c", "d", "e", "g", "h", "r"], fill_value=100)
print(s1)

a      1.0
b      2.0
c      3.0
d      4.0
e      5.0
g      NaN
h      NaN
r    100.0
dtype: float64

# forward FILL

In [9]:
cars= Series(("AUDI", "BMW", "FERRARI", "MERCEDES"), index=[0, 4, 8, 12])
cars

0         AUDI
4          BMW
8      FERRARI
12    MERCEDES
dtype: object

In [10]:
new_index = range(24)
cars= cars.reindex(new_index, method="ffill")
print(cars)

0         AUDI
1         AUDI
2         AUDI
3         AUDI
4          BMW
5          BMW
6          BMW
7          BMW
8      FERRARI
9      FERRARI
10     FERRARI
11     FERRARI
12    MERCEDES
13    MERCEDES
14    MERCEDES
15    MERCEDES
16    MERCEDES
17    MERCEDES
18    MERCEDES
19    MERCEDES
20    MERCEDES
21    MERCEDES
22    MERCEDES
23    MERCEDES
dtype: object

# DROPPING VALUES

In [14]:
s1=s1.drop('h')
s1

a      1.0
b      2.0
c      3.0
d      4.0
e      5.0
g      NaN
r    100.0
dtype: float64

# Handling NULL

In [15]:
R = Series([100, 200, 300, np.nan], index=["AUDI", "TOYOTA", "BMW", "FERRARI"])
print(R)

AUDI       100.0
TOYOTA     200.0
BMW        300.0
FERRARI      NaN
dtype: float64

In [16]:
R.isnull()

AUDI       False
TOYOTA     False
BMW        False
FERRARI     True
dtype: bool

In [17]:
R.dropna()

AUDI      100.0
TOYOTA    200.0
BMW       300.0
dtype: float64

# MODIFYING

In [18]:
s1

a      1.0
b      2.0
c      3.0
d      4.0
e      5.0
g      NaN
r    100.0
dtype: float64

In [19]:
s1['a']

1.0

In [20]:
s1[['a', 'd']]

a    1.0
d    4.0
dtype: float64

In [21]:
s1[0] #through default index

1.0

In [22]:
#conditional
s1[s1> 3]

d      4.0
e      5.0
r    100.0
dtype: float64

# Coordinating and Regulating data

In [23]:
s1

a      1.0
b      2.0
c      3.0
d      4.0
e      5.0
g      NaN
r    100.0
dtype: float64

In [24]:
s2 = Series([10, 20, 30, 40], index=["a", "b", "c", "d"])
s2

a    10
b    20
c    30
d    40
dtype: int64

In [25]:
s1+s2

a    11.0
b    22.0
c    33.0
d    44.0
e     NaN
g     NaN
r     NaN
dtype: float64